@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============Nav-Bar Section=============== */

.nav-bar {
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #37393b;
  justify-content: space-between;
}

.nav-item {
  margin-right: 1.3rem;
  font-size: 1.5rem;
  font-family: 'Quicksand', sans-serif;
  color: rgb(255, 255, 255);
}

.home {
  font-family: 'Caveat', cursive;
  background-color: #37393b;
  margin-left: 2rem;
  font-size: 2rem;
}

.page-title {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.page-title:hover {
  color: rgb(91, 192, 8);
  text-shadow: 7px 5px 1px rgb(28, 31, 29);
  cursor: pointer;
}

/* ==============Nav-Bar Responsiveness=============== */

@media (max-width: 1400px) {
  .nav-bar {
    height: 15vh;
  }
}

@media (max-width: 949px) {
  .home {
    font-size: 1.5rem;
  }
  .nav-item {
    font-size: 1rem;
  }
}

@media (max-width: 550px) {
  .nav-item {
    margin: auto auto;
  }
}

@media (max-width: 400px) {
  .home {
    font-size: 1rem;
    margin-left: 1rem;
  }
}

/* ==============Main Section=============== */

#main {
  padding-top: 6.5rem;
  padding-left: 1rem;
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

.title {
  text-align: center;
  font-size: 3rem;
  font-family: 'Caveat', cursive;
  color: rgb(175, 13, 13);
}

p {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  margin-top: 1em;
}

li {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  margin-top: 1em;
}

.links {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
}

.links:hover {
  color: rgb(91, 192, 8);
}

h3 {
  margin-top: 1em;
  font-size: 2.5rem;
  font-family: 'Caveat', cursive;
  color: rgb(175, 13, 13);
}

.bottom {
  padding-bottom: 1em;
}

#inline {
  margin-top: 20px;
  height: 75px;
}

.inline-1,
.inline-2,
.inline-3 {
  display: inline;
  margin: 5px;
  padding: 1px;
  width: 1000px;
  border: 1px solid black;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
}

.inline-1:hover,
.inline-2:hover,
.inline-3:hover {
  display: block;
  background-color: black;
  color: rgb(255, 255, 255);
  max-width: 500px;
}

#inline-block {
  margin-top: 20px;
}

.inline-block-1,
.inline-block-2,
.inline-block-3 {
  display: inline-block;
  border: 1px solid black;
  background-color: #000;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  height: 300px;
  width: 420px;
  margin: 0.4em;
  padding-top: 1em;
  text-align: center;
}

img {
  margin: 20px 0 0 10px;
  width: 200px;
  height: 200px;
}

.wide {
  width: 400px;
  height: 200px;
}

/* ==============Main Responsiveness=============== */

@media (max-width: 450px) {
  .wide {
    width: 300px;
  }

  .inline-block-1,
  .inline-block-2,
  .inline-block-3 {
    width: 300px;
  }

  .title {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  li {
    font-size: 0.8rem;
  }

  .inline-1,
  .inline-2,
  .inline-3 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .inline-1:hover,
  .inline-2:hover,
  .inline-3:hover {
    max-width: 300px;
  }
}
