@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

/* ==============Nav-Bar Section=============== */

.nav-bar {
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #3e4144;
  justify-content: space-between;
}

.page-title {
  text-decoration: none;
  color: rgb(216, 211, 211);
}

.page-title:hover {
  color: rgb(15, 176, 216);
  text-shadow: 7px 5px 1px rgb(28, 31, 29);
  cursor: pointer;
}

.home {
  font-family: 'Caveat', cursive;
  background-color: none;
  margin-left: 1rem;
  font-size: min(5vw, 2em);
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
}

.nav-list {
  cursor: pointer;
  padding: 5px 5px;
  text-decoration: none;
  color: rgb(216, 211, 211);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.nav-list:hover {
  background-color: rgba(37, 32, 32, 0.856);
  color: rgb(15, 176, 216);
  border-radius: 1em;
  cursor: default;
}

/* ==============Nav-Bar Responsiveness=============== */

@media (min-width: 405px) and (max-width: 470px) {
  .nav-item {
    margin-left: 5em;
  }
}

@media (min-width: 300px) and (max-width: 404px) {
  .nav-item {
    margin-left: 3.5em;
  }
}

/* ==============Main Section=============== */

#main {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url('../images/grass-unsplash.jpg');
  height: auto;
  width: 100%;
  background-size: cover;
}

.header {
  color: rgb(216, 211, 211);
  font-family: 'Caveat', cursive;
  padding-top: 4em;
  text-align: left;
}

.header h1 {
  font-size: 3em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.header-p {
  font-family: 'Quicksand', sans-serif;
  color: rgb(216, 211, 211);
  font-size: 1.2em;
  margin-top: 0.7em;
  text-align: left;
  padding: 1em;
}

.header-list {
  font-size: 1.2em;
  color: rgb(216, 211, 211);
  font-family: 'Quicksand', sans-serif;
  margin-top: 1em;
  padding-left: 2em;
  padding-right: 0.5em;
  text-align: left;
}

.links {
  font-size: 1rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
}

.links:hover {
  color: rgb(15, 176, 216);
}

#inline {
  margin-top: 20px;
  height: 75px;
}

.inline-1,
.inline-2,
.inline-3 {
  display: inline;
  /* margin: 5px; */
  padding: 1px;
  /* width: 1000px; */
  border: 1px solid black;
  font-size: 1.2em;
  font-family: 'Quicksand', sans-serif;
}

.inline-1:hover,
.inline-2:hover,
.inline-3:hover {
  display: block;
  background-color: black;
  color: rgb(255, 255, 255);
  max-width: 500px;
}

#inline-block {
  margin-top: 20px;
}

.inline-block-1,
.inline-block-2,
.inline-block-3 {
  display: inline-block;
  border: 1px solid black;
  background-color: #000;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  height: 300px;
  width: 420px;
  margin: 0.4em;
  padding-top: 1em;
  text-align: left;
}

img {
  margin: 20px 0 0 10px;
  width: 200px;
  height: 200px;
}

.wide {
  width: 400px;
  height: 200px;
}

/* ==============Main-Section Responsiveness=============== */

@media (max-width: 500px) {
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 2.5em;
  }

  .inline-block-1,
  .inline-block-2,
  .inline-block-3 {
    width: 320px;
  }

  .inline-1,
  .inline-2,
  .inline-3 {
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
  }

  .inline-1:hover,
  .inline-2:hover,
  .inline-3:hover {
    max-width: 300px;
  }

  .wide {
    width: 300px;
  }
}
