@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==============Nav-Bar Section=============== */

.nav-bar {
  top: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #37393b;
  justify-content: space-between;
}

.home {
  font-family: 'Caveat', cursive;
  background-color: #37393b;
  margin-left: 2rem;
  font-size: 2rem;
}

.page-title {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.page-title:hover {
  color: rgb(91, 192, 8);
  text-shadow: 7px 5px 1px rgb(28, 31, 29);
  cursor: pointer;
}

.nav-item {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 1rem;
  margin-right: 1.1rem;
}

.nav-list {
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
}

.nav-list:hover {
  cursor: pointer;
  background-color: black;
  color: rgb(91, 192, 8);
  border-radius: 1.5em;
}

/* ==============Nav-Bar Responsiveness=============== */
@media (max-width: 1400px) {
  .nav-bar {
    height: 13vh;
  }
}

@media (max-width: 949px) {
  .home {
    font-size: 1.2rem;
  }
  .nav-list {
    font-size: 0.8rem;
  }
}

@media (max-width: 690px) {
  .nav-item {
    flex-direction: column;
    gap: 0.15rem;
  }
}

@media (max-width: 450px) {
  .home {
    font-size: 0.8rem;
  }
  .nav-list {
    font-size: 0.6rem;
  }
}

/* ==============About-Section=============== */

#about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

.flex-content-left {
  flex-basis: 30%;
}

.main-image {
  width: 600px;
  height: auto;
  border-radius: 5% 80% 5%;
  box-shadow: 1px 1px 20px rgb(163, 161, 2);
}

.flex-content-right {
  flex-basis: 60%;
}

.about-title {
  text-align: center;
  font-size: 3rem;
  font-family: 'Caveat', cursive;
  color: rgb(175, 13, 13);
}

.about-p {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  font-family: 'Quicksand', sans-serif;
  margin-top: 2em;
}

.quote {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  text-align: center;
  margin-top: 2em;
}

/* ==============About-Section Responsiveness=============== */

@media (max-width: 1400px) {
  .main-image {
    width: 300px;
    margin-top: 4rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-p {
    font-size: 1rem;
  }

  .quote {
    font-size: 1rem;
  }
}

@media (max-width: 800px) and (max-height: 900px) {
  #about-section {
    display: block;
    text-align: center;
  }

  .main-image {
    width: 180px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgb(163, 161, 2);
    margin-top: 8rem;
  }

  .about-title {
    margin-top: 0.5rem;
    font-size: 1.3rem;
  }

  .about-p {
    margin-top: 1rem;
    font-size: 1rem;
    padding: 10px;
  }

  .quote {
    margin-top: 0.5rem;
    font-size: 0.7rem;
  }
}

/* ==============Technical-Section=============== */

#technical-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2.5rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.tech {
  border-radius: 1.5rem;
  background-color: #1b3855;
}

.tech:hover {
  background-color: #323435;
}

.tech-tile {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.tech-tile:hover {
  color: #136cc5;
}

/* ==============Technical-Section Responsiveness=============== */

@media (max-width: 1050px) {
  .tech-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1.5rem;
    max-width: 700px;
  }
  .tech-tile {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .tech-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    max-width: 450px;
  }
  .tech-tile {
    font-size: 1rem;
  }
}

/* ==============Core-Section=============== */

#core-section {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100vw; */
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

.core-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 2.5rem;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.core {
  border-radius: 1.5rem;
  background-color: #1b3855;
}

.core:hover {
  background-color: #323435;
}

.core-tile {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.core-tile:hover {
  color: #136cc5;
}

/* ==============Core-Section Responsiveness=============== */

@media (max-width: 1050px) {
  .core-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1.5rem;
    max-width: 700px;
  }
  .core-tile {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px) {
  .core-grid {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-gap: 1rem;
    max-width: 450px;
  }
  .core-tile {
    font-size: 1rem;
  }
}
