@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  background-image: linear-gradient(95deg, #3a3d40 25%, #181719 75%);
}

/* ==============Nav-Bar Section=============== */

.nav-bar {
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  flex-direction: row;
  background-color: #3e4144;
  justify-content: space-between;
}

.page-title {
  text-decoration: none;
  color: rgb(216, 211, 211);
}

.page-title:hover {
  color: rgb(15, 176, 216);
  text-shadow: 7px 5px 1px rgb(28, 31, 29);
  cursor: pointer;
}

.home {
  font-family: 'Caveat', cursive;
  background-color: none;
  margin-left: 1rem;
  font-size: min(5vw, 2em);
}

.nav-item {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5em;
}

.nav-list {
  cursor: pointer;
  padding: 5px 5px;
  text-decoration: none;
  color: rgb(216, 211, 211);
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
}

.nav-list:hover {
  background-color: rgba(37, 32, 32, 0.856);
  color: rgb(15, 176, 216);
  border-radius: 1em;
  cursor: default;
}

/* ==============Nav-Bar Responsiveness=============== */

@media (min-width: 405px) and (max-width: 470px) {
  .nav-item {
    margin-left: 5em;
  }
}

@media (min-width: 300px) and (max-width: 404px) {
  .nav-item {
    margin-left: 3.5em;
  }
}

/* ==============Main Section=============== */

#main {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url('../images/grass-unsplash.jpg');
  height: 80em;
  width: 100%;
  background-size: cover;
}

.header {
  color: rgb(216, 211, 211);
  font-family: 'Caveat', cursive;
  padding-top: 4em;
  text-align: left;
}

.header h1 {
  font-size: 3em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.header-p {
  font-family: 'Quicksand', sans-serif;
  color: #000;
  font-size: 1.2em;
  margin-top: 0.7em;
  text-align: center;
  padding: 1em;
}

.bottom-p {
  font-family: 'Quicksand', sans-serif;
  color: rgb(216, 211, 211);
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
  padding: 1em;
}

/* ==============About-Section Responsiveness=============== */

@media (max-width: 500px) {
  .header {
    text-align: center;
  }
  .header h1 {
    font-size: 2.5em;
  }
}
